*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main>h1{
    color: darkmagenta;
}
.main>section{
    width: 70%;
    height: 70%;
    display: flex;
    /* border: 1px solid black; */
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.left>img{
    width: 80%;
    height: 80%;

}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#register{
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 10px 10px 10px -5px gray; */

}
.input_box{
    width: 100%;
    height: 15%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input_box>input{
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border-color: green;
    /* border: none; */
    margin: auto;
}
button{
    width: 85%;
    padding: 10px;
  
    border-radius: 8px;
    background:linear-gradient( to right, violet,pink);
    color: white;
    cursor: pointer;
}

#otp{
    width: 40%;
}
#otpbtn{
    width: 30%;
    background: royalblue;
}